html{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
  
}
*{
margin: 0px;
padding: 0px;


}
.icon{
   width: 2.8%;
   align-items: right;
   
}
.divider{
    border-bottom:1px solid rgb(141, 133, 133);
}
header{
    display: flex;
    padding: 30px 4%;
    align-items: center;
    justify-content: space-between;
    color: #222224;
    
    font-size: 16px;
    
    }
    
    
    
    
    
    .navs,li{
    list-style: none;
    display: inline-block;
    padding: 0px  20px;
    color: #222224;
    font-weight: bold;
    
    }
    .logo{
      cursor: pointer; 
      font-size: larger;


    }
     
.container{
display: flex;


}




.picture{
    float: right;
width: 900px;
padding:0 px;
margin: 0%;







}


.container1{
  justify-items: center;  
width: 95%;
display: flex;
align-items: center;
justify-content: center;
margin: 0px;
padding:0%;
color: #222224;


  
}
.buttonP{
background-color: black;
color: #f8f8f8;
border: none;
padding:12px ;
margin:20px;
border-radius: 12px;
width: 110px;
cursor: pointer;
position: absolute;


}
.button2{
  color: #f8f8f8;
border: none;
padding:12px ;
margin:20px;
border-radius: 2px;
width: 110px;
cursor: pointer;
position: absolute;
background-color: black;
justify-content: center;
position: left;
}



.imagesf{
display: flex;
flex-direction: row;
width: 100px;
align-content: space-between;




}




.imagesf2{
display: flex;
flex-direction: row;

}
.production{

gap: 10px;
display: flex;
flex-direction: column;

}
.bold{
justify-content: center;
text-align: center;
align-items: center;

}
  

.pdtn{
flex-direction: column;

}
.texts{
  display: flex;
flex-direction: row;
}
.more-Info{

  display: flexbox;
  flex-direction: row;
  }



.pic{
width: 300px;
align-items: center;

}
.bolds{

text-align: center;
padding-bottom: 0px;

}


.imagesf2, .imagesf{
  gap: 16px;
}
.dinning, .whiteT{
  width: 600px;
  height: 450px;
}
.discount, .border1 ,.border2{
  background-color: #222224;
  color:  #f8f8f8;
  
  
}


.button1{
color:  #f8f8f8;;
width: 110px;
height: 40px;
background-color: #222224;
border-radius: 5px;
border-width: 1px;
border-color: rgb(202, 200, 195);
cursor: pointer;

}
.main{
width: 650px;
float: left;
height: 400px;
}
.imgj,.imgj2{
width: 300px;
}
 .demo{
 gap: 16px; 
}
.coach{
  width: 600px;

}
.footermain{
background-color: #222224;
color:  #f8f8f8;;
justify-content: space-between;
display: flex;
flex-direction: row;

align-items: center;


}
.only{
 font-weight: lighter ;
 color:  #f8f8f8;
 text-align: center;
}
.arrangeThis{
padding: 2%;
color:  #f8f8f8;
background-color: #222224;

}
.new{
  text-align: center;
 font-size: 30px;
 font-weight: lighter;
 padding-top: 40px;
 padding-bottom: 30px;
 
}
.lists{
  color: #f8f8f8;
  font-weight: lighter;
}
h3{
  color: #f8f8f8;
  text-align: center;
}
.aligntext{
  text-align: center;
  justify-items: center;
  justify-content: center;
}
.left{
  color: #f8f8f8;
  font-weight: lighter;
  text-align: left;
}
.center{
  color: #f8f8f8;
  font-weight: lighter;
  text-align: center;
}
.right{
  
    color: #f8f8f8;
    font-weight: lighter;
    text-align: right;
  
}
.trial{
display: flex;
flex-direction: row;
padding: 0px  20px;
justify-content: space-between;
font-size: smaller;
}
.test{
  align-items: center;
}